body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.register_form {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 3px solid #93BFC7;
  border-radius: 20px;
  width: 320px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.register_form h2 {
  color: #2F4858;
  margin-bottom: 20px;
}

.register_form input[type="text"],
.register_form input[type="email"],
.register_form input[type="password"],
.register_form input[type="number"] {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ABE7B2;
  border-radius: 10px;
  background-color: #ECF4E8;
  outline: none;
}

input:-webkit-autofill {
  background-color: #ECF4E8 !important;
  box-shadow: 0 0 0 1000px #ECF4E8 inset !important;
}

.register_form input[type="text"]:hover,
.register_form input[type="email"]:hover,
.register_form input[type="password"]:hover,
.register_form input[type="number"]:hover{
  border-color: #2F4858;
}

.register_form button {
  background-color: transparent;
  color: #93BFC7;
  font-weight: bold;
  border: 2px solid #93BFC7;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.register_form button:hover {
  background-color: rgba(147, 191, 199, 0.2); 
}

.login-link {
  margin-top: 15px;
}

.message {
  margin-top: 10px;
  color: #2F4858;
  font-weight: 500;
}